<div id="buscador">
<form method="get" action="/quizes" >
  <legend>
      Busca tu pregunta:
      <input type="text" name="search" />
      <input type="submit" value="Enviar"/>
      <br/>
    <!--
      <% if(session.user) { %>
        <a href="/quizes/new"><button type="button">Añadir pregunta</button></a>
      <% } %>
    -->
    <a href="/quizes/new"><button type="button">Añadir pregunta</button></a>
      <!--<a href="/quizes"><button type="button">Pregunta random</button></a>-->

</legend>
</form>
</div>

<form method="get" action="/quizes/random" >
  <input type="submit" value="Random"/>
</form>

<div id="preguntas">
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
  <tr><td><strong><%= quizes[i].tematica %></strong>: <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <% if(session.user) { %>
      <td><form method="post" action="quizes/<%= quizes[i].id %>?_method=delete"><button type="submit" OnClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button></a></form></td>
      <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
    <% } %>
</tr>
  <% } %>

  <p><%= quizes.length  %></p>

</table>


</div>
